<table>
    <h1>Blaga-blog</h1>
    <h2>Home</h2>
    <thead>
        <tr class='column_labels'>
            <th>ID</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>

    <tbody>
        <% @articles.each do |article| %>
            <tr class='article_layout'>
                <td class='article_id'><%= article.id %></td>
                <td class='article_name'><strong>Title: </strong><%= article.name %></td>
                <td class='article_body'><strong>Body: </strong><br><%= article.body %></td>
                <td class='btn' id='btn_edit'><%= link_to 'Edit', edit_article_path(article) %></td>
                <td class='btn' id='btn_show'><%= link_to 'Show', show_article_path(article) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p class='click_links'>
    <%= link_to 'New Article', new_article_path %>
</p>